@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@500&family=Unbounded:wght@600&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000;
    color: #EBEBEB;
}
.hero-section{
    width: 100%;
    height: 800vh;
    font-family: 'Instrument Sans', sans-serif;
    background-image: url('images/backgroundImages/hero-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.top-section{
    background: linear-gradient(to left, #000000 0%,#00000000 50%,#00000092 0%,#00000000 0%);
}
.second-column {
    text-align: right;
}
.the-row{
    padding-top: 8vw;
}
.second-row{
    font-family: 'Unbounded', cursive;
    font-size: 5vw;
    text-align: center;
    padding: 8vw;
    background: linear-gradient(to right, #000000 0%,#00000000 50%,#00000092 0%,#00000000 0%);
}